aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
async-timeout
attrs
certifi
dotenv-python
frozenlist
idna
magic-filter
multidict
propcache
pydantic=
pydantic_core
python-dotenv
typing_extensions
yarl
